<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Reactor.Properties.Settings.DYORdb1ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\DYORdb1.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
        <add name="Reactor.Properties.Settings.Reactor1ConnectionString"
            connectionString="Data Source=PETE\SQLExpress;Initial Catalog=Reactor1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>